{:kotoba.extension/name "states"
 :kotoba.extension/type :clj/library
 :kotoba.extension/host :clj/deps
 :kotoba.extension/paths ["src"]
 :kotoba.extension/test-paths ["test"]
 :kotoba.extension/test-alias :test
 :kotoba.extension/build {:artifact "target/kotoba/states-extension.edn"}}
